{% extends 'base.html.twig' %}

{% block title %}Mwinda cote - Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4"> Formulaire de connexion </h1>

        {% for message in app.flashes('succes') %}
            <div class="alert alert-primary mt-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% if error %}
            <div class="alert alert-danger mt-4">
                {{error.messageKey | trans(error.messageData, 'security')}}  
            </div>       
        {% endif %}

        <form action="{{ path('security.login') }}" method="post">

            <div class="form-group">
                <label for="username" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="bmukena85@gmail.com">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="password" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                </div>
            <div class="form-group">

            <button type="submit" class="btn btn-primary mt-4"> Se connecter </button>

        <form>

{% endblock %}
